<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.cornell.ecaft" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_180x180"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".ParseApplication"
        >
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".CompanyDetailsActivity"
            android:label="@string/details_ac"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="m0zIvk7nfP6nEUrGYzyecbhRdqTrhbUoBI00fvZ4" />
        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="lmqPfyrkeq4p8v6cukV7aFCVdi4evb8MFyjgvnEG" />

    </application>

</manifest>
