<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.ashleyxue.ecaft" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--<uses-permission android:name="android.permission.INTERNET" />-->
    <!--<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />-->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />


    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" android:required="true" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
<!--
    <uses-feature android:name="android.hardware.camera2.full" />
-->

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <permission android:protectionLevel="signature"
                android:name="edu.ashleyxue.ecaft.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/logo512x512"
        android:label="@string/ECaFT"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name="edu.ashleyxue.ecaft.FirebaseApplication"
        >
        <activity
            android:name="edu.ashleyxue.ecaft.MainActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="edu.ashleyxue.ecaft.CameraActivity"
            android:label="Camera"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name="edu.ashleyxue.ecaft.EnlargedImage"
            android:label="Enlarged Image"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name="edu.ashleyxue.ecaft.CompanyDetailsActivity"
            android:label="@string/details_ac"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>


        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="m0zIvk7nfP6nEUrGYzyecbhRdqTrhbUoBI00fvZ4" />
        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="lmqPfyrkeq4p8v6cukV7aFCVdi4evb8MFyjgvnEG" />

        <service android:name="com.parse.PushService" />
        <receiver android:name="com.parse.ParsePushBroadcastReceiver"
                  android:exported="false">
            <intent-filter>
                <action android:name="com.parse.push.intent.RECEIVE" />
                <action android:name="com.parse.push.intent.DELETE" />
                <action android:name="com.parse.push.intent.OPEN" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.parse.GcmBroadcastReceiver"
                  android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <!--
                  IMPORTANT: Change "com.parse.starter" to match your app's package name.
                -->
                <category android:name="edu.cornell.ecaft" />
            </intent-filter>
        </receiver>
        <meta-data android:name="com.parse.push.notification_icon"
                   android:resource="@drawable/logo_180x180"/>
    </application>

</manifest>
